@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "s";
@import "b";

body {
    font-family: 'Mulish', sans-serif;
    @apply text-sm;
    @apply text-blue-dark;
    @media (min-width: 320px) and (max-width: 992px) {
        &.lock {
            @apply overflow-hidden;
            @apply relative;
            &:before {
                z-index: 100;
                content: '';
                @apply absolute left-0 top-0 w-full h-full;
                background: rgba(0, 60, 68, 0.4);
            }
        }
    }

}

h {
    &1 {
        @apply text-64 font-bold;
        line-height: 74px;
        @media (min-width: 320px) and (max-width: 992px) {
            @apply text-40;
            line-height: 50px;
        }
    }

    &2 {
        @apply text-56 font-bold;
        @media (min-width: 320px) and (max-width: 992px) {
            @apply text-32;
        }
    }

    &3 {
        @apply text-5xl font-bold;
    }

    &4 {
        @apply text-40 font-bold;
        @media (min-width: 320px) and (max-width: 992px) {
            @apply text-32;
        }
    }

    &5 {
        @apply text-32 font-bold;
        line-height: 48px;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply text-2xl;
            line-height: 36px;
        }
    }

    &6 {
        @apply text-2xl font-bold;
    }
}

.btn {
    @apply font-bold rounded-3xl inline-flex justify-between items-center;
    &-icon {
        @apply inline-block rounded-full border-2;
        &-lg {
            @apply p-3.5;
            svg {
                @apply w-6 h-6;
            }
        }

        &-md {
            padding: 13px;

            svg {
                @apply w-5 h-5;
            }
        }

        &-yellow {
            @apply bg-yellow border-yellow;
            svg {
                @apply fill-yellow;
            }
        }

        &-red_outlined {
            @apply bg-transparent border-red;
            svg {
                @apply fill-red;
            }
        }
    }

    &-sm {
        line-height: 20px;
        padding: 13px 22px;
        @apply text-sm;
    }

    &-md {
        line-height: 24px;
        padding: 14px 25px;
        @apply text-base;
    }

    &-lg {
        line-height: 24px;
        padding: 16px 28px;
        font-size: 18px;
    }

    &-red {
        @apply bg-red text-white;
    }

    &-yellow {
        @apply bg-yellow text-blue-dark
    }
}

.menu-item {
    @apply mr-12.5;

    a {
        @apply transition ease-in delay-100 text-blue-dark text-lg font-bold hover:text-blue;
    }

    &:last-child {
        @apply mr-0;
    }
}

.header-mobile {
    @apply fixed top-0 w-full;
    right: -200%;
}

@media (min-width: 320px) and (max-width: 992px) {
    .menu-item-second {
        &:not(:last-child) {
            @apply mb-6;
        }

        a {
            @apply transition ease-in delay-100 text-blue-dark text-lg font-bold hover:text-blue;
        }

        @apply mr-0;
    }
    .header-mobile {
        transition: .3s all ease;
        height: 70%;
        @apply bg-yellow-extra-light;
        z-index: 100;

        &-body {
            @apply relative;
            &:before {
                content: '';
                @apply absolute top-0 left-0 w-full h-full ;
                z-index: 15;
                box-shadow: 0px 5px 30px 5px rgba(0, 60, 68, 0.1);
            }
        }

        .second-burger {
            @apply absolute;
            right: 2.25rem;
            z-index: 20;
        }

        &.active {
            @apply overflow-x-scroll top-0 right-0;
        }
    }
}

