// Slider index (home page) outside container <<< style >>>.
.slider {
    @apply overflow-x-hidden;

    .container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }

    .slider-container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }
}

// Readmore (Подробнее)
.readmore {
    position: relative;
    padding-right: 10px;

    &::before {
        content: '';
        position: absolute;
        background-image: url("../assets/images/svg/readmore.svg");
        background-repeat: no-repeat;
        right: -10px;
        top: 2px;
        width: 20px;
        height: 20px;
    }
}


// Custom single product
.product-select {
    @apply relative bg-green flex w-[85px] border-2 border-green rounded;
    overflow: hidden;

    //&::before {
    //    content: '';
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    cursor: pointer;
    //    pointer-events: none;
    //    transition: .25s all ease;
    //}

    select {
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0!important;
        background-image: none;
        flex: 1;
        @apply cursor-pointer bg-white text-green font-bold text-lg py-1.1 px-3.9;
    }

    select::-ms-expand {
        display: none;
    }
}

// Single product
.product {
    &-left {
        justify-content: center;
        align-items: center;
    }

    &-inner {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        align-items: center;
        @media (min-width: 320px) and (max-width: 997px) {
            justify-content: center;
            align-items: center;
            grid-template-columns: 100%;
        }
    }

    .swiper-container {
        @apply overflow-hidden;
    }

    .products-gallery-slider {
        @apply mt-5;
        .swiper-wrapper {
            .swiper-slide {
                @apply border-2 border rounded border-2 border-[#BDBDBD] cursor-pointer w-[104px] h-[105px];
                .products-gallery-item {
                    @apply flex items-center justify-center ;
                    img {
                        @apply w-[104px] h-[105px];
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.swiper-slide-thumb-active, {
                    @apply border-2 border-green rounded;
                }

                //&.swiper-slide-active {
                //    @apply border-2 border-green rounded;
                //}
            }
        }

    }
}

.swiper-pagination.single-product-pagination {
    @apply flex;
    span.swiper-pagination-bullet {
        @apply cursor-pointer w-[12px] h-[12px] block bg-[#F2F2F2] mr-3 rounded-[30px];
        &:last-child {
            @apply mr-0;
        }

        &.swiper-pagination-bullet-active {
            @apply bg-[#BDBDBD];
        }
    }
}

.product-content {
    @apply mb-3.9;
    &:last-child {
        @apply mb-0;
    }
}
