// Slider index (home page) outside container <<< style >>>.
.slider {
    @apply overflow-x-hidden;

    .container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }

    .slider-container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }
}

// Readmore (Подробнее)
.readmore {
    @apply relative pr-[10px];
    &::before {
        content: '';
        background-image: url("../assets/images/svg/readmore.svg");
        @apply absolute w-[20px] h-[20px] top-[2px] right-[-10px] bg-no-repeat;
    }
}


// Custom single product
.product-select {
    &::after {
        content: '';
        background: url("../assets/images/svg/arrow-count.svg") no-repeat center center;
        @apply absolute w-[44px] top-0 right-0 flex justify-center items-center bg-green cursor-pointer px-3.9 h-full pointer-events-none;
    }
}

// Single product
.product {
    &-left {
        @media (min-width: 576px) {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -8px;
                left: -8px;
                border: 4px solid #f2f2f2;
                border-radius: 4px;
                width: 100%;
                background: #f2f2f2;
                height: 401px;
            }
        }

        @apply justify-center items-center;
    }

    &-inner {
        @apply grid justify-center items-start;
        grid-template-columns: 100%;
        @media screen and (min-width: 1200px) {
            grid-template-columns: 40% 40%;
        }
    }

    .swiper-container {
        @apply overflow-hidden;
    }

    .products-gallery-slider {
        @apply mt-5;
        .swiper-wrapper {
            .swiper-slide {
                @apply border-2 border rounded border-2 border-[#BDBDBD] cursor-pointer w-[104px] h-[105px];
                .products-gallery-item {
                    @apply flex items-center justify-center ;
                    img {
                        @apply w-[104px] h-[105px] flex items-center justify-center;
                    }
                }

                &.swiper-slide-thumb-active, {
                    @apply border-2 border-green rounded;
                }
            }
        }

    }
}

.swiper-pagination.single-product-pagination {
    @apply flex;
    span.swiper-pagination-bullet {
        @apply cursor-pointer w-[12px] h-[12px] block bg-[#F2F2F2] mr-3 rounded-[30px];
        &:last-child {
            @apply mr-0;
        }

        &.swiper-pagination-bullet-active {
            @apply bg-[#BDBDBD];
        }
    }
}

.product-content {
    @apply mb-3.9;
    &:last-child {
        @apply mb-0;
    }
}

// Popup
.popup {
    button.carousel__button.is-close {
        display: none;
    }

    &.fancybox__content {
        padding: 0;
    }

    &-center-scroll {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #E0E0E0;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #D9D9D9;
            border-radius: 4px;
        }
    }
}

@media (min-width: 320px) and (max-width: 590px) {
    .fancybox__slide.is-selected.has-inline {
        padding: 0;
    }
}

.fancybox__container {
    .fancybox__backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 60, 68, 0.4)
    }
}


.input-number {
    width: 80px;
    padding: 0 5px;
    vertical-align: top;
    text-align: center;
    outline: none;
    appearance: none;
}

.input-number {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.input-number[type=number] {
    -moz-appearance: textfield;
}

.input-number,
.input-number-increment {
    @apply border-2 border-green w-[44px] h-[34px] rounded-tl rounded-bl font-bold text-lg flex items-center justify-center;
}

.input-number-increment {
    @apply w-[44px] cursor-pointer bg-green text-white font-bold;


}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

