// Slider index (home page) outside container <<< style >>>.
.slider {
    @apply overflow-x-hidden;

    .container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }

    .slider-container {
        @apply overflow-visible;
        @media (min-width: 320px) and (max-width: 768px) {
            @apply overflow-hidden;
        }
    }
}

// Readmore (Подробнее)
.readmore {
    @apply relative pr-[10px];
    &::before {
        content: '';
        background-image: url("../assets/images/svg/readmore.svg");
        @apply absolute w-[20px] h-[20px] top-[2px] right-[-10px] bg-no-repeat;
    }
}


// Custom single product
.product-select {
    &::after {
        content: '';
        background: url("../assets/images/svg/arrow-count.svg") no-repeat center center;
        @apply absolute w-[44px] top-0 right-0 flex justify-center items-center bg-green cursor-pointer px-3.9 h-full pointer-events-none;
    }
}

// Single product
.product {
    &-left {
        @apply justify-center items-center;
    }

    &-inner {
        @apply grid justify-center items-start;
        grid-template-columns: 40% 40%;
        @media (min-width: 320px) and (max-width: 997px) {
            @apply justify-center items-center;
            grid-template-columns: 100%;
        }
    }

    .swiper-container {
        @apply overflow-hidden;
    }

    .products-gallery-slider {
        @apply mt-5;
        .swiper-wrapper {
            .swiper-slide {
                @apply border-2 border rounded border-2 border-[#BDBDBD] cursor-pointer w-[104px] h-[105px];
                .products-gallery-item {
                    @apply flex items-center justify-center ;
                    img {
                        @apply w-[104px] h-[105px] flex items-center justify-center;
                    }
                }

                &.swiper-slide-thumb-active, {
                    @apply border-2 border-green rounded;
                }
            }
        }

    }
}

.swiper-pagination.single-product-pagination {
    @apply flex;
    span.swiper-pagination-bullet {
        @apply cursor-pointer w-[12px] h-[12px] block bg-[#F2F2F2] mr-3 rounded-[30px];
        &:last-child {
            @apply mr-0;
        }

        &.swiper-pagination-bullet-active {
            @apply bg-[#BDBDBD];
        }
    }
}

.product-content {
    @apply mb-3.9;
    &:last-child {
        @apply mb-0;
    }
}
